.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--navbar-height);
    z-index:999;
}
.content{
    margin-top:calc(var(--navbar-height) + var(--navbar-height));
}

@media screen and (max-width:725px){
    .content{
        margin: 0;
        padding-top:calc(var(--navbar-height) + var(--navbar-height))
    }
}
